/* 
  한글
  Black Han Sans

  영문
  Recursive
  Hahmlet
*/

.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-exit {
  opacity: 0.01;
}

.page-exit.page-exit-active {
  opacity: 0.01;
}
